fastapi==0.127.0
uvicorn==0.40.0
python-dotenv==1.2.1
python-multipart==0.0.21
pydantic==2.12.5
openai==2.14.0
langchain==1.2.0
langchain-community==0.4.1
psycopg2-binary==2.9.11
SQLAlchemy==2.0.45
pypdf==6.5.0